# Output
/dist
/docs/.vuepress/dist

# Logs
logs
*.log

# Configuration file
.editorconfig
.gitignore
.eslintignore
.markdownlintignore
.prettierignore
.eslintcache
.stylelintignore

.nvmrc
.npmrc
.yarnrc

package.json
package-lock.json

# Image
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico

# Other
.history
.DS_Store
LICENSE
