/dist
/docs/.vuepress/dist
/lib/yarn/releases
package.json
robots.txt
.nvmrc
.npmrc
.yarnrc
*.lock
*.log
.editorconfig
.gitignore
.eslintignore
.markdownlintignore
.prettierignore
.eslintcache
.stylelintignore
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
.DS_Store
.history
LICENSE
